<p>By Capital</p>

<div class="row">
  <div class="col">
    <!-- searchbox -->
    <!-- (onValue)="searchByCapital($event)" -->
    <shared-search-box
    (onDebounce)="searchByCapital($event)"
      placeholder="Search by capital"
      [initialValue]="initialValue"
    ></shared-search-box>
  </div>
</div>
<div class="row">
  <div class="col">
    <!-- result table -->
    <hr />
    <app-loader *ngIf="isLoading"></app-loader>
    <countries-table
    [countries]="countries"
    alertPlaceHolder="Capital"></countries-table>
  </div>
</div>
